$primary: #078DE7;
$primaryLight: #E7F4FD;
$backgroundLight: rgb(222, 229, 234);
$black: #10212E;
$white: #ffffff;
$g800: #404D58;
$g400: #9FA6AB;
$g100: #c8d0d5;
$g50: #F3F4F5;
$background: #feffff;
$borderColor: #E7E9EA;

$pending: #F4B53F;
$done: #44C16E;
$doneLight: #F0FAF3;
$problem: #EB4C43;
$problemLight: #FEF4F4;


